<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  	<parameter name="character" value="b"/> 
  	<parameter name="str" value="string"/> 
    <classes>
      <class name="com.ssf.SuiteOne.Testcase_001"/>
      <class name="com.ssf.SuiteOne.SuitBaseClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
